/* Variables */
:root {
    --main-clr: #FC4D5A;
    --secondary-clr: #003DA7;
    --body-clr: #383838;
    --transition: all 0.3s ease-in-out;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgba(0, 61, 167, 0.04);
}
a{
    text-decoration: none;
}
/* Global Css */
.fw-medium {
    font-weight: 600;
}

.fw-semi-bold {
    font-weight: 700;
}

.pf-text-color {
    color: var(--body-clr);
}

.pf-primary-color {
    color: var(--main-clr);
}

.pf-secondary-color {
    color: var(--secondary-clr);
}

.pf-bg-primary {
    background-color: var(--main-clr);
}

.pf-bg-secondary {
    background-color: var(--secondary-clr);
}

.pf-shadow {
    box-shadow: 0px 12px 30px rgba(0, 0, 0, .13);
}

/*spacing*/
.pf-pt-100 {
    padding-top: 100px;
}

.pf-pb-100 {
    padding-bottom: 100px;
}

.pf-py-100 {
    padding: 100px 0;
}

/* Button */
.btn-default {
    border: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 10px 24px;
    background-color: var(--secondary-clr);
    color: #fff;
    border-radius: 4px;
    text-transform: capitalize;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.btn-default.thin-btn{
    padding: 6px 16px;
}
.btn-default:hover {
    background-color: var(--main-clr);
    color: #fff;
    text-decoration: none;
}
/* Logo */
.logo{
    font-weight: 700;
    color: var(--secondary-clr);
}
/* Search form */
.phone-finder-search .form-control {
    padding: 10px 20px;
    border-radius: 4px 0 0 4px;
    border: 1px solid var(--secondary-clr);
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    background-color: transparent;
    box-shadow: none;
}

.phone-finder-search .form-control:focus {
    box-shadow: none;
}


/* Card */
#phone-grid .card .card-image{
    background-color: #f5f7fb;
    padding: 15px 10px;
    border-radius: 4px;
}
#phone-grid .card .card-title{
    font-size: 18px;
    font-weight: 600;
    color: var(--body-clr);
    margin-bottom: 10px;
}

/* Phone details modal */
#phone-details-content {

}
.specifications{
    background-color: #f5f7fb;
    padding: 12px 15px;
    border-bottom: 4px solid #EEEEEE;
}
.specifications:last-child{
    border-bottom: none;
}
.sp-wrap{
    display: flex;
    padding: 5px 0;
    border-bottom: 1px solid #e6e6e6;
}
.sp-wrap:first-child{
    padding-top: 0;
}
.sp-wrap:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.sp-wrap .specification-label{
    flex: 0 0 30%;
    margin-right: 10px;
}
.sp-wrap .specification-value{
    flex: 0 0 70%
}

.modal-close{
    border: none;
    background-color: var(--secondary-clr);
    color: #fff;
    font-size: 22px;
    padding: 5px 10px;
    line-height: 24px;
    transition: all 0.3s ease-in-out;
}
.modal-close:hover{
    background-color: var(--main-clr);
}





