/* Variables */
:root {
    --main-clr: #FC4D5A;
    --secondary-clr: #003DA7;
    --body-clr: #383838;
    --transition: all 0.3s ease-in-out;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgba(0, 61, 167, 0.04);
    /*background-image: url("../images/bg-pattern.png");*/
    /*background-repeat: repeat;*/
}
a{
    text-decoration: none;
}
/* Global Css */
.fw-medium {
    font-weight: 500;
}

.fw-semi-bold {
    font-weight: 600;
}

.mg-text-color {
    color: var(--body-clr);
}

.mg-primary-color {
    color: var(--main-clr);
}

.mg-secondary-color {
    color: var(--secondary-clr);
}

.mg-bg-primary {
    background-color: var(--main-clr);
}

.mg-bg-secondary {
    background-color: var(--secondary-clr);
}

.mg-shadow {
    box-shadow: 0px 12px 30px rgba(0, 0, 0, .13);
}

/*spacing*/
.mg-pt-100 {
    padding-top: 100px;
}

.mg-pb-100 {
    padding-bottom: 100px;
}

.mg-py-100 {
    padding: 100px 0;
}

/* Button */
.btn-default {
    border: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 10px 24px;
    background-color: var(--secondary-clr);
    color: #fff;
    border-radius: 4px;
    text-transform: capitalize;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.btn-default:hover {
    background-color: var(--main-clr);
    color: #fff;
    text-decoration: none;
}
/* Search */
.phone-finder-search .form-control {
    padding: 10px 20px;
    border-radius: 4px 0 0 4px;
    border: 1px solid var(--secondary-clr);
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    background-color: transparent;
    box-shadow: none;
}

.phone-finder-search .form-control:focus {
    border-color: var(--main-clr);
    box-shadow: none;
}















